/**{
    outline: green solid 1px ;
}*/
body{
	font-family: 'Lato', sans-serif;
	color:#676858;
}

.logo{
  margin-top:20px;
}
.text-muted{
	color:#BCBBBB;
}
.text-super{
	font-size:60px;
}
h3{
	color:#747704;
	font-weight:bold;
}
